﻿<!-- Declara o model para ojeto model-->
@model uaumart.Models.ViewModel.SellerFormViewModel

@{
    ViewData["Title"] = "Create Sellers";
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Seller.Name" class="control-label"></label>
                <input asp-for="Seller.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.Email" class="control-label"></label>
                <input asp-for="Seller.Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.BirthDate" class="control-label"></label>
                <input asp-for="Seller.BirthDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.BaseSalary" class="control-label"></label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.Department" class="control-label"></label>
                <!--*Argumentos de SelectList
                    Modelo, atributo chave, valor que vai aparecer
                -->
                <select asp-for="Seller.Department" class="form-control" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))">
                    <option disabled selected>Department Selection</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />

            </div>
        </form>
    </div>
</div>