﻿@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Avenida Borges de Medeiros, 1501<br />
    Porto Alegre, RS, 90119-900<br />
    <abbr title="Telefone">Tel:</abbr>
    (51) 3288-1269
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:dinfo@seplag.rs.gov.br">dinfo@seplag.rs.gov.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:dinfo@seplag.rs.gov.br">dinfo@seplag.rs.gov.br</a>
</address>
